In [2]:
"I can't go"

"I can't go"

In [3]:
'I can go to "Raipur"'

'I can go to "Raipur"'

In [4]:
id = 535989
name = "Dhana"

In [5]:
print("My name is {} and my id is {}".format(name, id))

My name is Dhana and my id is 535989

In [6]:
print("My name is {x} and my id is {y}".format(x=name, y=id))

My name is Dhana and my id is 535989

In [7]:
myList = [1,2,3,4,5,6,5,5,7]

In [8]:
myList

[1, 2, 3, 4, 5, 6, 5, 5, 7]

In [9]:
mySet = {1,2,2,2,4,4,4,5,6,7,8}

In [10]:
mySet

{1, 2, 4, 5, 6, 7, 8}

In [11]:
myTuple = (123,2343,532,75)

In [12]:
myList[0]='a'

In [13]:
myList

['a', 2, 3, 4, 5, 6, 5, 5, 7]

In [14]:
myTuple[0] = 'new'

TypeError: 'tuple' object does not support item assignment

In [15]:
set(myList)

{2, 3, 4, 5, 6, 7, 'a'}

In [16]:
s = {3,4,3,4,5,0}

In [19]:
s

{0, 3, 4, 5}

In [18]:
s.add(mySet)

TypeError: unhashable type: 'set'

In [20]:
s.add(9)

In [21]:
s

{0, 3, 4, 5, 9}

In [22]:
s.add(4)

In [23]:
s

{0, 3, 4, 5, 9}

In [24]:
s1 = {2,7}

In [31]:
s2 = s.union(s1)

In [32]:
s2

{0, 2, 3, 4, 5, 7, 9}

In [33]:
arr1 = [1,2,3,4]
arr2 = [5,6,7,8]

In [34]:
arr1 + arr2

[1, 2, 3, 4, 5, 6, 7, 8]

In [35]:
tpl1 = (8,9,0)
tpl2 = (3,5,6)

In [38]:
tpl1 + tpl2

(8, 9, 0, 3, 5, 6)

In [41]:
str1 = "   This is plain text    "

str1.strip()
str1.l

'This is plain text'

In [42]:
str2 = "444%"

In [45]:
print(int(str2.rstrip('%')))

444

In [29]:
d = {'key1':'value1', 'key2':[1,2,3,4]}

In [30]:
d

{'key1': 'value1', 'key2': [1, 2, 3, 4]}

In [31]:
d['key1']

'value1'

In [32]:
d['key2'][1]

2

In [36]:
d1 = {'key1':'value1', 'key2':{'innerkey':[2,1]}}

In [37]:
d['key2']

[1, 2, 3, 4]

In [41]:
d1['key2']['innerkey'][1]

1

In [1]:
i =1

print(i)

1

In [2]:
d

NameError: name 'd' is not defined

In [48]:
a = 'Data'
b = 'Analysis'
c = 'Python'

print("{x} {y} using {z}".format(y=b,x=a,z=c))

Data Analysis using Python

In [50]:
ab = "Data_Analysis_Python"

abn = ab.split("_")
abn[2]

'Python'

In [52]:
ab[1]

'a'

In [54]:
5//2

2

In [59]:
st = "I love Python programming"

st[7:13]

len('Python')

6

In [4]:
i=1

while(i<5):
    print("Value of i is {}".format(i))
    i = i+1

Value of i is 1
Value of i is 2
Value of i is 3
Value of i is 4

In [5]:
range(1,6)

range(1, 6)

In [6]:
seq = range(1,6)

In [7]:
seq

range(1, 6)

In [8]:
for item in range(1,6):
    print(item)

1
2
3
4
5

In [9]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
x = [1,2,3,4]

In [15]:
out = []

for num in x:
    out.append(num**2)

In [16]:
out

[1, 4, 9, 16]

In [18]:
[num**3 for num in x]

[1, 8, 27, 64]

In [19]:
def my_func(name = 'default name'):
    print('Hello '+name)

In [20]:
my_func()

Hello default name

In [21]:
my_func('Jose')

Hello Jose

In [25]:
def cube(num):
    """
    This is a doc string
    This function will return cube of a number
    """
    return num**3

In [23]:
cube(4)

64

In [24]:
my_func

In [26]:
range(2,8,2)

range(2, 8, 2)

In [27]:
print(range(2,8,2))

range(2, 8, 2)

In [28]:
list(range(2,8,2))

[2, 4, 6]

In [31]:
def times2(var):
    return var*2

In [30]:
seq=[1,2,3,4,5]

In [34]:
map(times2, seq)

In [36]:
list(map(times2, seq))

[2, 4, 6, 8, 10]

In [37]:
lambda var:var*3

In [38]:
t = lambda var:var*3

In [39]:
t(3)

9

In [40]:
list(map(t, seq))

[3, 6, 9, 12, 15]

In [42]:
list(map(lambda num:num*3, seq))

[3, 6, 9, 12, 15]

In [44]:
list(filter(lambda num: num%2!=0, seq))

[1, 3, 5]

In [45]:
s = "Hello my name is Sam"

In [49]:
s.lower()

'hello my name is sam'

In [50]:
x = [(1,2),(3,4),(5,6)]

In [51]:
x

[(1, 2), (3, 4), (5, 6)]

In [52]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [54]:
for (a,b) in x:
    print(b)
    print(a)

2
1
4
3
6
5

In [55]:
s

'Hello my name is Sam'

In [56]:
s.count("my")

1